{% extends 'base.html' %}

{% block page_title %}<h1>My Projects</h1>{% endblock %}

{% block content %}
<h2>Space Spikes</h2>
<p>Space Spikes is a flappy bird inspired game. It is made with python and pygame. In it, you control an alien and his spaceship and must avoid the spikes. Collect powerups and survive as long as you can.</p>
<a href="https://replit.com/@Pickles6855/Space-Spikes?v=1">Play Space Spikes Now</a>

<br><br><br><br>

<h2>Simple Battle Game</h2>
        <p>My Simple Battle Game is a text based game made with python. It is complete with a movement system, three different enemies for you to fight with their own decision making algorithm, and the ability to use melee or ranged weapons. See whether you can beat the enemy without dying first.</p>
<a href="https://replit.com/@Pickles6855/Battle-Game-v2?v=1">Play Simple Battle Game Now</a>
{% endblock %}